[package]
name = "moveos-server"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
bcs = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
coerce = { workspace = true }
derive_builder = { workspace = true }
futures = { workspace = true }
jsonrpsee = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
tokio = { features = ["full"], workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }

moveos = { workspace = true }
moveos-statedb = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }
proto-builder-trait ={ workspace = true }
tonic-build = { workspace = true }


