frameworks/rooch-framework/doc linguist-generated=true
frameworks/move-stdlib/doc linguist-generated=true
frameworks/moveos-stdlib/doc linguist-generated=true
frameworks/bitcoin-move/doc linguist-generated=true
frameworks/rooch-nursery/doc linguist-generated=true