[package]
name = "rooch"
version = "0.1.0"

# Workspace inherited keys
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
bcs = { workspace = true }
clap = { features = [ "derive", ], workspace = true }
datatest-stable = { git = "https://github.com/rooch-network/diem-devtools", branch = "feature/pub-test-opts" }
tokio = { features = ["full"], workspace = true }
dirs  = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }
serde_yaml = { workspace = true }
serde_json = { workspace = true }
once_cell = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
async-trait = { workspace = true }
codespan-reporting = { workspace = true }
termcolor = { workspace = true }
itertools = { workspace = true }
hex = { workspace = true }
regex = { workspace = true }
serde-reflection = { workspace = true }
serde-generate = { workspace = true }
parking_lot = { workspace = true }
bcs-ext = { workspace = true }
rpassword = { workspace = true }
fastcrypto = { workspace = true }
bitcoin = { workspace = true }
bitcoincore-rpc = { workspace = true }

move-bytecode-utils = { workspace = true }
move-binary-format = { workspace = true }
move-bytecode-verifier = { workspace = true }
move-cli = { workspace = true }
move-command-line-common = { workspace = true }
move-compiler = { workspace = true }
move-core-types = { workspace = true }
move-coverage = { workspace = true }
move-disassembler = { workspace = true }
move-errmapgen = { workspace = true }
move-package = { workspace = true }
move-unit-test = { workspace = true }
move-vm-runtime = { workspace = true }
move-vm-test-utils = { workspace = true }
move-model = { workspace = true }
move-stdlib = { workspace = true }

moveos-stdlib = { workspace = true }
moveos-types = { workspace = true }
moveos-store = { workspace = true }
moveos-common = { workspace = true }
moveos = { workspace = true }
moveos-verifier = { workspace = true }
moveos-stdlib-builder = { workspace = true }

rooch-key = { workspace = true }
rooch-types = { workspace = true }
rooch-config = { workspace = true }
rooch-framework = { workspace = true }
rooch-genesis = { workspace = true }
rooch-rpc-api = { workspace = true }
rooch-rpc-server = { workspace = true }
rooch-rpc-client = { workspace = true }
rooch-integration-test-runner = { workspace = true }

[features]
dashboard = []