[package]
name = "raw-store"

# Workspace inherited keys
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true }
tap = { workspace = true }
tokio = { workspace = true }
rocksdb = { workspace = true }
parking_lot = { workspace = true }

prometheus = { workspace = true }
once_cell = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

metrics = { workspace = true }
moveos-common = { workspace = true }
moveos-config = { workspace = true }
