[package]
name = "testsuite"
version = "0.1.0"

authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
clap = { features = ["derive"], workspace = true }
jpst = { workspace = true }
serde = { features = ["derive"], workspace = true }
serde_bytes = { workspace = true }
serde_json = { features = ["arbitrary_precision"], workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

rooch = { workspace = true }
rooch-rpc-server = { workspace = true }
rooch-config = { workspace = true }
rooch-rpc-client = { workspace = true }
rooch-key = { workspace = true }
rooch-types = { workspace = true }

move-core-types = { workspace = true }

[dev-dependencies]
assert_cmd = "1.0"
cucumber = "0.20.2"
futures = { workspace = true }
testcontainers = { version = "0.15.0", git = "https://github.com/yubing744/testcontainers-rs", rev = "6b87dc53ab3bc6eb4d15c7e73a3c57dcbf40d0af" }
tokio = { version = "1.12", features = ["macros", "rt-multi-thread", "sync", "time"] }
jpst = "0.1.1"
tracing = "0.1"
backtrace = "0.3"
env_logger = "0.11.3"
rand = "0.8"
sha2 = "0.10.8"
hmac = "0.12.1"
hex = "0.4.3"

[dependencies.uuid]
version = "1.8.0"
features = [
    "v4",                # Lets you generate random UUIDs
    "fast-rng",          # Use a faster (but still sufficiently random) RNG
    "macro-diagnostics", # Enable better diagnostics for compile-time UUIDs
]

[[test]]
name = "integration"
harness = false  # allows Cucumber to print output instead of libtest
test = false