name: Quick Checks

on:
  push:
    branches: [ 'main' ]
    paths-ignore:
      - 'docs/**'
      - 'fixtures/**'
      - 'kube/**'
      - '**.md'
      - 'crates/rooch-anomalies/static/**'
  pull_request:
    branches: [ 'main' ]
    paths-ignore:
      - 'docs/**'
      - 'fixtures/**'
      - 'kube/**'
      - '**.md'
      - 'crates/rooch-anomalies/static/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  quick_checks:
    name: Quick Checks
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Filter Changed Files
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            rust:
              - '**/*.rs'
              - 'Cargo.toml'
              - 'Cargo.lock'
              - 'rust-toolchain.toml'
            move:
              - 'frameworks/**/*.move'
              - 'examples/**/*.move'
            license:
              - '**/*.rs'
              - '**/*.sh'

      - name: Setup Rust
        if: ${{ steps.changes.outputs.rust == 'true' }}
        uses: ./.github/actions/rust-setup

      - name: Check Rust Formatting
        if: ${{ steps.changes.outputs.rust == 'true' }}
        run: cargo fmt -- --check

      - name: Check Licenses
        if: ${{ steps.changes.outputs.license == 'true' }}
        run: |
          find . -not -path "./third_party/*" -type f \( -name '*.rs' -o -name '*.sh' \) -exec sh -c '
            for FILE do
              if ! grep -q "SPDX-License-Identifier: Apache-2.0" "$FILE"; then
                echo "ERROR: SPDX-License-Identifier is not Apache-2.0 in $FILE"
                exit 1
              fi
            done' sh {} +

      - name: Check Move Constant Errors
        if: ${{ steps.changes.outputs.move == 'true' }}
        run: |
          chmod +x scripts/check_move_constant_errors.sh
          ./scripts/check_move_constant_errors.sh

