name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: rooch-network/moveos/.github/actions/rust-setup@docs/contributions
    #  with:
    #    fetch-depth: 0
    # - name: Install dev environment
    #   run: bash ./scripts/dev-setup.sh
    
